@import "tailwindcss";

@theme {
  @keyframes floatImage {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
  }

  --animation-float: floatImage 4s ease-in-out infinite;
}
